<form
  [formGroup]="form"
  hfForm
  hfLayout="horizontal"
  class="form-container clr-form-compact form-flex"
>
  <hf-search-container>
    <label class="clr-col-xs-12 clr-col-md-4 clr-col-lg-4">Employee</label>
    <hf-search
      class="clr-col-xs-12 clr-col-md-8 clr-col-lg-8"
      [dataSource]="'api/v1/organization/employee'"
      hfSearch
      [enableLookup]="true"
      [valueField]="'id'"
      [getDisplayText]="getEmployeeLookupText"
      [displayField]="'lastName'"
      formControlName="employeeId"
    >
    </hf-search>
    <hf-control-error *hfIfError="'required'">You must provide an Employee.</hf-control-error>
  </hf-search-container>

  <hf-date-container>
    <label class="clr-col-xs-12 clr-col-md-4 clr-col-lg-4">Date</label>
    <input
      class="clr-col-xs-12 clr-col-md-8 clr-col-lg-8"
      hfDate
      type="date"
      formControlName="date"
      name="date"
    />
    <hf-control-error *hfIfError="'required'">You must provide a Date!</hf-control-error>
  </hf-date-container>

  <hf-input-container>
    <label class="clr-col-xs-12 clr-col-md-4 clr-col-lg-4">Check Time</label>
    <input
      class="clr-col-xs-12 clr-col-md-8 clr-col-lg-8"
      hfInput
      type="time"
      formControlName="checkTime"
      name="checkTime"
    />
    <hf-control-error *hfIfError="'required'">You must provide a Check Time!</hf-control-error>
  </hf-input-container>

  <hf-radio-container hfInline>
    <label class="clr-col-xs-12 clr-col-md-4 clr-col-lg-4">Log Type</label>
    <hf-radio-wrapper>
      <input
        checked
        type="radio"
        class="clr-col-xs-12 clr-col-md-8 clr-col-lg-8"
        hfRadio
        name="logType"
        value="CheckIn"
        formControlName="logType"
      />
      <label>Check In</label>
    </hf-radio-wrapper>
    <hf-radio-wrapper>
      <input
        #checkOut
        type="radio"
        hfRadio
        class="clr-col-xs-12 clr-col-md-8 clr-col-lg-8"
        name="logType"
        value="CheckOut"
        formControlName="logType"
      />
      <label>Check Out</label>
    </hf-radio-wrapper>
    <hf-control-error *hfIfError="'required'">Specify the Log Type.</hf-control-error>
  </hf-radio-container>

  <hf-checkbox-container hfInline>
    <label class="clr-col-xs-12 clr-col-md-4 clr-col-lg-4">Overnight shift</label>
    <hf-checkbox-wrapper>
      <input
        class="clr-col-xs-12 clr-col-md-8 clr-col-lg-8"
        type="checkbox"
        hfCheckbox
        name="isNextDay"
        formControlName="isNextDay"
      />
      <label>Next day Check {{ checkOut.checked ? "Out" : "In" }}</label>
    </hf-checkbox-wrapper>

    <hf-control-helper
      >When checked, this time log falls into the next day{{ getNextDay() }}.</hf-control-helper
    >
  </hf-checkbox-container>

  <hf-textarea-container>
    <label class="clr-col-xs-12 clr-col-md-4 clr-col-lg-4">Remarks <sup>(optional)</sup></label>
    <textarea
      class="clr-col-xs-12 clr-col-md-8 clr-col-lg-8"
      hfTextarea
      formControlName="remarks"
    ></textarea>
  </hf-textarea-container>
</form>
