<form
  [formGroup]="form"
  clrForm
  clrLayout="horizontal"
  class="form-container clr-form-compact form-flex"
>
  <clr-input-container>
    <label class="clr-col-xs-12 clr-col-md-4 clr-col-lg-4">Code</label>
    <input
      hfFocusInput="true"
      class="clr-col-xs-12 clr-col-md-8 clr-col-lg-8"
      clrInput
      type="text"
      formControlName="code"
      name="code"
    />
    <clr-control-helper>Enter a unique Code.</clr-control-helper>
    <clr-control-error *clrIfError="'required'">You must provide a Code!</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label class="clr-col-xs-12 clr-col-md-4 clr-col-lg-4">Name</label>
    <input
      class="clr-col-xs-12 clr-col-md-8 clr-col-lg-8"
      clrInput
      type="text"
      formControlName="name"
      name="name"
    />
    <clr-control-error *clrIfError="'required'">You must provide a Name!</clr-control-error>
  </clr-input-container>

  <clr-textarea-container>
    <label class="clr-col-xs-12 clr-col-md-4 clr-col-lg-4">Description</label>
    <textarea
      class="clr-col-xs-12 clr-col-md-8 clr-col-lg-8"
      clrTextarea
      rows="6"
      formControlName="description"
      name="description"
    ></textarea>
  </clr-textarea-container>
</form>
